@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

:root{

  --laranja-1: #B66317;
  --laranja-2: #dd8634;
  --preto-1:#222222;
  --preto-2:#3E3E3E;
  --branco-1:#cccccc;
  --branco-2:#F1F1F1;

  --Headings-XXL: 700 3.5rem 'Montserrat', sans-serif;
  --Headings-XL: 700 3rem 'Montserrat', sans-serif;
  --Headings-L: 700 2.5rem 'Montserrat', sans-serif;
  --Headings-M: 700 2rem 'Montserrat', sans-serif;
  --Headings-S: 700 1.5rem 'Montserrat', sans-serif;
  --Headings-XS: 700 1.25rem 'Montserrat', sans-serif;
  --Headings-XXS: 600 1rem 'Montserrat', sans-serif;
  --Headings-XXXS: 500 0.7rem 'Montserrat', sans-serif;

  --Body-XL: 500  1.375rem 'Josefin', serif;
  --Body-L: 500 1.125rem 'Josefin', serif;
  --Body-M: 500 1rem 'Josefin', serif;
  --Body-S: 500 0.875rem 'Josefin', serif;
  --Body-XS: 500 0.75rem 'Josefin', serif;
  --Body-XXS: 400 0.4rem 'Josefin', serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}